body{
    margin:0;
}

#recipe-image{
    height: auto; 
    max-width:600px;
    border-radius: 5px;
}

.recipe-heading{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid;
    border-radius: 50px
}

#description{
    padding: 30px;
    font-size: 18px;
    text-align: center;
}

.container{
    font-size: 20px;
    /*text-align: center;*/
    padding: 20px 0px 80px;
}

.image-container{
    /*border: 3px solid;*/
    padding: 10px;
}

.ingredients {
    list-style-type: none;
    padding: 0px;
}

.centered {
    text-align: center;
}