body{
    margin:0;
    background-color: chocolate;
}

.container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-decoration: underline;
    background-color: white;
    padding:10px;
    border-radius: 5px; 
    display: inline;
}

.recipe-list{
    list-style: none;
    display: inline-flex;
    padding: 0px;
}

.recipe-list li a{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.recipe-list-item{
    margin: 10px;
}

.item-image{
    height: fit-auto;
    max-width: 300px;
    border-radius: 5px;
}

.centered {
    text-align: center;
}

.hint {
    font-family: Arial, sans-serif;
    font-style: italic;
    color: white;
}